<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.java.test.junior.mapper.PasswordResetTokenMapper">
    <insert id="save" parameterType="com.java.test.junior.model.PasswordResetToken">
        INSERT INTO password_reset_token (token, email, expiry)
        VALUES (#{token}, #{email}, #{expiry})
    </insert>

    <select id="findByToken" parameterType="string" resultType="com.java.test.junior.model.PasswordResetToken">
        SELECT token, email, expiry
        FROM password_reset_token
        WHERE token = #{token}
    </select>

    <delete id="deleteByToken" parameterType="string">
        DELETE FROM password_reset_token WHERE token = #{token}
    </delete>
</mapper>